.skn {

  h2.site-name {
    font-size: 2em;
    font-weight: 300;
  }

  .site-name a {
    text-decoration: none;
    color: #fff;
  }

  .menu-item a {
    text-decoration: none;
    color: #333;
  }
}
